@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        position: relative;
        width: 160px;
        height: 160px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    /* @keyframes spin {
        0% {
            transform: rotate(0deg);

        }
        100% {
            transform: rotate(360deg);
        }
    } */

    /* .loader {
        position: absolute;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        animation: spin 2s linear infinite;
    } */
    /* .loader:nth-child(2),
    .loader:nth-child(4) {
        animation-delay: -1s;
        filter: hue-rotate(45deg);
    } */

    /* .loader:nth-child(1)::before,
    .loader:nth-child(2)::before {
        content: "";
        position: absolute;
        top: 0;
        left:0;
        width: 50%;
        height: 100%;
        background: linear-gradient(to top, transparent, rgba(247, 151, 29, 0.4));
        background-size: 100px, 180px;
        background-repeat: no-repeat;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;

    } */

    /* .loader i {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: 20px;
        background: #F7971D;
        border-radius: 50%;
        z-index: 2;
        box-shadow: 0 0 10px #F7971D,
        0 0 20px #F7971D,
        0 0 30px #F7971D,
        0 0 40px #F7971D,
        0 0 50px #F7971D,
        0 0 60px #F7971D,
        0 0 70px #F7971D,
        0 0 80px #F7971D,
        0 0 90px #F7971D,
        0 0 100px #F7971D
        ;
    } */

    /* .loader span {
        position:absolute;
        inset: 18px;
        background: #181f25;
        border-radius: 50%;
        z-index: 1;
    } */

    /* div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      } */
      
      /* .container {
        width: 200px;
        height: 200px;
      } */

    @keyframes animation {
        0% {
          stroke-dasharray: 1 98;
          stroke-dashoffset: -105;
        }
        50% {
          stroke-dasharray: 80 10;
          stroke-dashoffset: -160;
        }
        100% {
          stroke-dasharray: 1 98;
          stroke-dashoffset: -300;
        }
      }
      
      #spinner {
        transform-origin: center;
        animation-name: animation;
        animation-duration: 1.2s;
        animation-timing-function: cubic-bezier;
        animation-iteration-count: infinite;
      }

}